# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Next.js
frontend/.next/
frontend/out/

# Backend Build/Logs
backend/dist/
backend/*.log
backend/uploads/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
